<ng-container *ngIf="loading">
  <app-spinner></app-spinner>
</ng-container>
<ng-container *ngIf="!loading">
<div class="row list-spacex" *ngIf="spacexData.length">
  <div
    *ngFor="let space of spacexData"
    class="col-xs-12 col-sm-6 col-md-6 col-lg-3"
  >
    <div class="card">
      <img
        src="{{ space.links.mission_patch }}"
        class="card-img-top"
        alt="{{ space.mission_name }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ space.mission_name }}</h5>
        <div>
          <div class="form-group row">
            <label class="pad-l-0 col-xs-6 col-sm-7"
              >Mission Ids:
            </label>
            <div class="col-xs-6 col-sm-5">
              {{ space.mission_id || "-" }}
            </div>
          </div>
          <div class="form-group row">
            <label class="pad-l-0 col-xs-6 col-sm-7"
              >Launch Year:
            </label>
            <div class="col-xs-6 col-sm-5">
              {{ space.launch_year || "-" }}
            </div>
          </div>
          <div class="form-group row">
            <label class="pad-l-0 col-xs-6 col-sm-7">Successful Launch: </label>
            <div class="col-xs-6 col-sm-5">
              {{ space.launch_success || "false" }}
            </div>
          </div>
          <div class="form-group row">
            <label class="pad-l-0 col-xs-6 col-sm-7">Successful Landing: </label>
            <div class="col-xs-6 col-sm-5">
              {{ space?.rocket?.first_stage?.cores[0]?.land_success || "false" }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!spacexData.length" style="text-align: center; margin-top: 20%">
  <h1>No Data Found.</h1>
</div>
</ng-container>